-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: knzin_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_activity_logs`
--

DROP TABLE IF EXISTS `admin_activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_activity_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `request_id` char(36) NOT NULL,
  `actor_user_id` char(36) DEFAULT NULL,
  `capability_used` varchar(64) DEFAULT NULL,
  `action` varchar(64) NOT NULL,
  `target_type` varchar(64) DEFAULT NULL,
  `target_id` varchar(64) DEFAULT NULL,
  `outcome` varchar(16) NOT NULL,
  `reason_code` varchar(64) DEFAULT NULL,
  `administrative_justification` varchar(500) DEFAULT NULL,
  `before_state` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`before_state`)),
  `after_state` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`after_state`)),
  `ip_hash` char(64) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_aal_created` (`created_at`),
  KEY `idx_aal_actor_created` (`actor_user_id`,`created_at`),
  KEY `idx_aal_action_created` (`action`,`created_at`),
  KEY `idx_aal_target` (`target_type`,`target_id`),
  KEY `idx_aal_outcome_created` (`outcome`,`created_at`),
  CONSTRAINT `admin_activity_logs_actor_user_id_foreign` FOREIGN KEY (`actor_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_activity_logs`
--

LOCK TABLES `admin_activity_logs` WRITE;
/*!40000 ALTER TABLE `admin_activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_broadcasts`
--

DROP TABLE IF EXISTS `admin_broadcasts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_broadcasts` (
  `id` char(36) NOT NULL,
  `admin_user_id` char(36) NOT NULL,
  `title_ar` varchar(255) NOT NULL,
  `title_en` varchar(255) NOT NULL,
  `body_ar` text NOT NULL,
  `body_en` text NOT NULL,
  `channels` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`channels`)),
  `sent_count` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_admin_broadcasts_admin` (`admin_user_id`),
  KEY `idx_admin_broadcasts_created` (`created_at`),
  CONSTRAINT `idx_admin_broadcasts_admin` FOREIGN KEY (`admin_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_broadcasts`
--

LOCK TABLES `admin_broadcasts` WRITE;
/*!40000 ALTER TABLE `admin_broadcasts` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_broadcasts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_capabilities`
--

DROP TABLE IF EXISTS `admin_capabilities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_capabilities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` char(36) NOT NULL,
  `capability` varchar(64) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'active',
  `provisioning_source` varchar(32) NOT NULL DEFAULT 'delegated_admin',
  `granted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `granted_by_user_id` char(36) DEFAULT NULL,
  `revoked_at` timestamp NULL DEFAULT NULL,
  `revoked_by_user_id` char(36) DEFAULT NULL,
  `revocation_reason` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_admin_capability` (`user_id`,`capability`),
  KEY `admin_capabilities_granted_by_user_id_foreign` (`granted_by_user_id`),
  KEY `admin_capabilities_revoked_by_user_id_foreign` (`revoked_by_user_id`),
  KEY `idx_admin_cap_active` (`capability`,`status`,`revoked_at`),
  KEY `idx_admin_cap_lookup` (`capability`,`user_id`),
  CONSTRAINT `admin_capabilities_granted_by_user_id_foreign` FOREIGN KEY (`granted_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `admin_capabilities_revoked_by_user_id_foreign` FOREIGN KEY (`revoked_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `admin_capabilities_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chk_admin_capabilities_approved_set` CHECK (`capability` in ('manage_admin_capabilities','manage_platform_settings','adjudicate_affiliate_coprize','issue_kyc_approval','issue_draw_audit_approval','settle_affiliate_payout'))
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_capabilities`
--

LOCK TABLES `admin_capabilities` WRITE;
/*!40000 ALTER TABLE `admin_capabilities` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_capabilities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `affiliate_ledger_entries`
--

DROP TABLE IF EXISTS `affiliate_ledger_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `affiliate_ledger_entries` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` char(36) NOT NULL,
  `order_id` char(36) DEFAULT NULL,
  `payout_id` bigint(20) unsigned DEFAULT NULL,
  `entry_type` varchar(32) NOT NULL,
  `amount_cents` bigint(20) NOT NULL,
  `currency` char(3) NOT NULL DEFAULT 'USD',
  `status` varchar(24) NOT NULL DEFAULT 'pending',
  `funding_source` varchar(32) NOT NULL DEFAULT 'commercial_operations',
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `matures_at` timestamp NULL DEFAULT NULL,
  `idempotency_key` varchar(128) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `affiliate_ledger_entries_idempotency_key_unique` (`idempotency_key`),
  KEY `idx_affiliate_ledger_order_type` (`order_id`,`entry_type`),
  KEY `idx_affiliate_ledger_user_status_matures` (`user_id`,`status`,`matures_at`),
  KEY `idx_affiliate_ledger_user_created` (`user_id`,`created_at`),
  KEY `idx_affiliate_ledger_payout` (`payout_id`),
  CONSTRAINT `affiliate_ledger_entries_order_id_foreign` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`),
  CONSTRAINT `affiliate_ledger_entries_payout_id_foreign` FOREIGN KEY (`payout_id`) REFERENCES `affiliate_payouts` (`id`),
  CONSTRAINT `affiliate_ledger_entries_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `affiliate_ledger_entries`
--

LOCK TABLES `affiliate_ledger_entries` WRITE;
/*!40000 ALTER TABLE `affiliate_ledger_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `affiliate_ledger_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `affiliate_payouts`
--

DROP TABLE IF EXISTS `affiliate_payouts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `affiliate_payouts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `payout_number` varchar(32) NOT NULL,
  `user_id` char(36) NOT NULL,
  `amount_cents` bigint(20) unsigned NOT NULL,
  `threshold_cents_at_request` bigint(20) unsigned NOT NULL,
  `amount_iqd` bigint(20) unsigned NOT NULL,
  `payout_method` varchar(32) NOT NULL,
  `recipient_details` text NOT NULL,
  `status` varchar(24) NOT NULL DEFAULT 'requested',
  `admin_reference_number` varchar(128) DEFAULT NULL,
  `receipt_path` varchar(255) DEFAULT NULL,
  `receipt_sha256` char(64) DEFAULT NULL,
  `admin_notes` text DEFAULT NULL,
  `processed_by_admin_id` char(36) DEFAULT NULL,
  `processed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `affiliate_payouts_payout_number_unique` (`payout_number`),
  KEY `affiliate_payouts_processed_by_admin_id_foreign` (`processed_by_admin_id`),
  KEY `idx_affiliate_payouts_user_status` (`user_id`,`status`),
  KEY `idx_affiliate_payouts_admin_reference` (`admin_reference_number`),
  CONSTRAINT `affiliate_payouts_processed_by_admin_id_foreign` FOREIGN KEY (`processed_by_admin_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `affiliate_payouts_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `chk_affiliate_payouts_positive_amount` CHECK (`amount_cents` > 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `affiliate_payouts`
--

LOCK TABLES `affiliate_payouts` WRITE;
/*!40000 ALTER TABLE `affiliate_payouts` DISABLE KEYS */;
/*!40000 ALTER TABLE `affiliate_payouts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `affiliate_profiles`
--

DROP TABLE IF EXISTS `affiliate_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `affiliate_profiles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` char(36) NOT NULL,
  `custom_slug` varchar(64) DEFAULT NULL,
  `default_payout_method` varchar(32) DEFAULT NULL,
  `payout_details` text DEFAULT NULL,
  `status` varchar(24) NOT NULL DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `affiliate_profiles_user_id_unique` (`user_id`),
  UNIQUE KEY `affiliate_profiles_custom_slug_unique` (`custom_slug`),
  KEY `idx_affiliate_profiles_status` (`status`),
  CONSTRAINT `affiliate_profiles_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `affiliate_profiles`
--

LOCK TABLES `affiliate_profiles` WRITE;
/*!40000 ALTER TABLE `affiliate_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `affiliate_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approval_records`
--

DROP TABLE IF EXISTS `approval_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approval_records` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `approval_id` varchar(64) NOT NULL,
  `approval_type` varchar(32) NOT NULL,
  `subject_type` varchar(64) NOT NULL,
  `subject_id` varchar(64) NOT NULL,
  `status` varchar(32) NOT NULL DEFAULT 'pending',
  `approved_at` timestamp NULL DEFAULT NULL,
  `approved_by` varchar(64) DEFAULT NULL,
  `source` varchar(64) NOT NULL,
  `version` int(10) unsigned NOT NULL DEFAULT 1,
  `revoked_at` timestamp NULL DEFAULT NULL,
  `revoked_by` varchar(64) DEFAULT NULL,
  `revocation_reason` varchar(255) DEFAULT NULL,
  `superseded_at` timestamp NULL DEFAULT NULL,
  `superseded_by_approval_id` varchar(64) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_approval_version` (`approval_type`,`subject_type`,`subject_id`,`version`),
  UNIQUE KEY `approval_records_approval_id_unique` (`approval_id`),
  KEY `idx_approval_lookup` (`approval_type`,`subject_id`,`version`),
  KEY `idx_approval_status` (`approval_type`,`status`,`revoked_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_records`
--

LOCK TABLES `approval_records` WRITE;
/*!40000 ALTER TABLE `approval_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_entitlements`
--

DROP TABLE IF EXISTS `course_entitlements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course_entitlements` (
  `id` char(36) NOT NULL,
  `user_id` char(36) NOT NULL,
  `course_id` char(36) NOT NULL,
  `course_part_id` char(36) DEFAULT NULL,
  `order_id` char(36) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'active',
  `scope_key` varchar(36) GENERATED ALWAYS AS (coalesce(`course_part_id`,'BUNDLE')) VIRTUAL,
  `active_scope_key` varchar(36) GENERATED ALWAYS AS (if(`status` = 'active',coalesce(`course_part_id`,'BUNDLE'),NULL)) VIRTUAL,
  `superseded_by_entitlement_id` char(36) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_course_active_scope` (`user_id`,`course_id`,`active_scope_key`),
  KEY `course_entitlements_course_id_foreign` (`course_id`),
  KEY `course_entitlements_course_part_id_foreign` (`course_part_id`),
  KEY `course_entitlements_superseded_by_entitlement_id_foreign` (`superseded_by_entitlement_id`),
  KEY `idx_entitlements_user_lookup` (`user_id`,`course_id`,`status`),
  KEY `idx_entitlements_order` (`order_id`),
  CONSTRAINT `course_entitlements_course_id_foreign` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`),
  CONSTRAINT `course_entitlements_course_part_id_foreign` FOREIGN KEY (`course_part_id`) REFERENCES `course_parts` (`id`),
  CONSTRAINT `course_entitlements_order_id_foreign` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`),
  CONSTRAINT `course_entitlements_superseded_by_entitlement_id_foreign` FOREIGN KEY (`superseded_by_entitlement_id`) REFERENCES `course_entitlements` (`id`) ON DELETE SET NULL,
  CONSTRAINT `course_entitlements_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_entitlements`
--

LOCK TABLES `course_entitlements` WRITE;
/*!40000 ALTER TABLE `course_entitlements` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_entitlements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_mission_reminders`
--

DROP TABLE IF EXISTS `course_mission_reminders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course_mission_reminders` (
  `id` char(36) NOT NULL,
  `user_id` char(36) NOT NULL,
  `course_id` char(36) NOT NULL,
  `last_reminded_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_mission_reminders_user_course` (`user_id`,`course_id`),
  KEY `course_mission_reminders_course_id_foreign` (`course_id`),
  KEY `idx_mission_reminders_cooldown` (`last_reminded_at`),
  CONSTRAINT `course_mission_reminders_course_id_foreign` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `course_mission_reminders_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_mission_reminders`
--

LOCK TABLES `course_mission_reminders` WRITE;
/*!40000 ALTER TABLE `course_mission_reminders` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_mission_reminders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_parts`
--

DROP TABLE IF EXISTS `course_parts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course_parts` (
  `id` char(36) NOT NULL,
  `course_id` char(36) NOT NULL,
  `part_number` tinyint(3) unsigned NOT NULL,
  `title_ar` varchar(255) NOT NULL,
  `title_en` varchar(255) NOT NULL,
  `syllabus_ar` text NOT NULL,
  `syllabus_en` text NOT NULL,
  `part_price_cents` bigint(20) unsigned NOT NULL DEFAULT 200,
  `part_promotional_tickets` int(10) unsigned NOT NULL DEFAULT 1,
  `is_free` tinyint(1) NOT NULL DEFAULT 0,
  `display_price_label` varchar(50) NOT NULL DEFAULT '2,000 IQD',
  `resource_types` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`resource_types`)),
  `duration_minutes` int(10) unsigned NOT NULL DEFAULT 45,
  `video_url` varchar(500) DEFAULT NULL,
  `pdf_url` varchar(500) DEFAULT NULL,
  `pdf_title_ar` varchar(255) DEFAULT NULL,
  `pdf_title_en` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_parts_course_part` (`course_id`,`part_number`),
  CONSTRAINT `idx_parts_course` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chk_course_parts_price_non_negative` CHECK (`part_price_cents` >= 0),
  CONSTRAINT `chk_course_parts_tickets_non_negative` CHECK (`part_promotional_tickets` >= 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_parts`
--

LOCK TABLES `course_parts` WRITE;
/*!40000 ALTER TABLE `course_parts` DISABLE KEYS */;
INSERT INTO `course_parts` VALUES ('a2e7ce9f-cf7d-4a70-ad99-0909c5ae3747','a2e7ca6b-f5db-4961-8667-d2eba2e08691',1,'oojasf','asdfdf','','',200,1,0,'2,600 IQD','[\"video\",\"pdf\"]',45,'https://youtu.be/3M_0BJxFgmk?si=GSjCCW4PmFZZnRZk',NULL,NULL,NULL,1,'2026-10-04 23:47:57','2026-10-04 23:47:57');
/*!40000 ALTER TABLE `course_parts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `courses` (
  `id` char(36) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `title_ar` varchar(255) NOT NULL,
  `title_en` varchar(255) NOT NULL,
  `description_ar` text NOT NULL,
  `description_en` text NOT NULL,
  `cover_image_url` varchar(500) NOT NULL,
  `bundle_price_cents` bigint(20) unsigned NOT NULL DEFAULT 1000,
  `bundle_promotional_tickets` int(10) unsigned NOT NULL DEFAULT 15,
  `display_price_label` varchar(50) NOT NULL DEFAULT '13,000 IQD',
  `outcomes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`outcomes`)),
  `curriculum_summary_ar` text DEFAULT NULL,
  `curriculum_summary_en` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `content_version` int(10) unsigned NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_courses_slug` (`slug`),
  KEY `idx_courses_active` (`is_active`),
  CONSTRAINT `chk_courses_bundle_price_non_negative` CHECK (`bundle_price_cents` >= 0),
  CONSTRAINT `chk_courses_tickets_non_negative` CHECK (`bundle_promotional_tickets` >= 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `draw_winners`
--

DROP TABLE IF EXISTS `draw_winners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `draw_winners` (
  `id` char(36) NOT NULL,
  `draw_id` char(36) NOT NULL,
  `prize_id` char(36) DEFAULT NULL,
  `winning_ticket_serial` varchar(50) NOT NULL,
  `winner_masked_name` varchar(100) NOT NULL,
  `winner_governorate` varchar(100) NOT NULL,
  `prize_delivered` tinyint(1) NOT NULL DEFAULT 0,
  `stream_recording_url` varchar(500) DEFAULT NULL,
  `drawn_at` datetime NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_draw_winners_draw_id` (`draw_id`),
  UNIQUE KEY `uq_draw_winners_serial` (`winning_ticket_serial`),
  KEY `idx_draw_winners_serial` (`winning_ticket_serial`),
  KEY `draw_winners_prize_id_foreign` (`prize_id`),
  CONSTRAINT `draw_winners_prize_id_foreign` FOREIGN KEY (`prize_id`) REFERENCES `prizes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `idx_draw_winners_draw` FOREIGN KEY (`draw_id`) REFERENCES `draws` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `draw_winners`
--

LOCK TABLES `draw_winners` WRITE;
/*!40000 ALTER TABLE `draw_winners` DISABLE KEYS */;
/*!40000 ALTER TABLE `draw_winners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `draws`
--

DROP TABLE IF EXISTS `draws`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `draws` (
  `id` char(36) NOT NULL,
  `tier` enum('hourly','daily','monthly') NOT NULL,
  `execution_type` enum('automated_electronic','live_broadcast') NOT NULL DEFAULT 'automated_electronic',
  `title_ar` varchar(150) NOT NULL,
  `title_en` varchar(150) NOT NULL,
  `status` enum('upcoming','active','locked','completed') NOT NULL DEFAULT 'upcoming',
  `is_published` tinyint(1) NOT NULL DEFAULT 1,
  `published_at` timestamp NULL DEFAULT NULL,
  `published_by_user_id` char(36) DEFAULT NULL,
  `server_seed_hash` char(64) DEFAULT NULL,
  `server_seed_encrypted` text DEFAULT NULL,
  `seed_committed_at` timestamp NULL DEFAULT NULL,
  `server_seed_revealed` char(64) DEFAULT NULL,
  `seed_revealed_at` timestamp NULL DEFAULT NULL,
  `starts_at` datetime NOT NULL,
  `ends_at` datetime NOT NULL,
  `broadcast_url` varchar(255) DEFAULT NULL,
  `total_eligible_tickets` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_draws_status_tier` (`status`,`tier`),
  KEY `idx_draws_starts_at` (`starts_at`),
  KEY `idx_draws_ends_at` (`ends_at`),
  KEY `draws_published_by_user_id_foreign` (`published_by_user_id`),
  KEY `idx_draws_published_status_tier` (`is_published`,`status`,`tier`),
  KEY `idx_draws_tier_status_starts` (`tier`,`status`,`starts_at`),
  CONSTRAINT `draws_published_by_user_id_foreign` FOREIGN KEY (`published_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `chk_draws_draft_is_upcoming` CHECK (`is_published` = 1 or `status` = 'upcoming'),
  CONSTRAINT `chk_draws_seed_atomic` CHECK (`server_seed_hash` is null and `server_seed_encrypted` is null and `seed_committed_at` is null or `server_seed_hash` is not null and `server_seed_encrypted` is not null and `seed_committed_at` is not null),
  CONSTRAINT `chk_draws_seed_hash_len` CHECK (`server_seed_hash` is null or char_length(`server_seed_hash`) = 64),
  CONSTRAINT `chk_draws_reveal_requires_commit` CHECK (`server_seed_revealed` is null or `server_seed_hash` is not null)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `draws`
--

LOCK TABLES `draws` WRITE;
/*!40000 ALTER TABLE `draws` DISABLE KEYS */;
/*!40000 ALTER TABLE `draws` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lesson_progress`
--

DROP TABLE IF EXISTS `lesson_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lesson_progress` (
  `id` char(36) NOT NULL,
  `user_id` char(36) NOT NULL,
  `course_id` char(36) NOT NULL,
  `course_part_id` char(36) NOT NULL,
  `watch_seconds` int(10) unsigned NOT NULL DEFAULT 0,
  `percent_complete` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `is_completed` tinyint(1) NOT NULL DEFAULT 0,
  `last_watched_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_progress_user_part` (`user_id`,`course_part_id`),
  KEY `idx_progress_course` (`course_id`),
  KEY `idx_progress_part` (`course_part_id`),
  KEY `idx_progress_completed` (`is_completed`),
  KEY `idx_progress_user_course_completed` (`user_id`,`course_id`,`is_completed`),
  CONSTRAINT `idx_progress_course` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `idx_progress_part` FOREIGN KEY (`course_part_id`) REFERENCES `course_parts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `idx_progress_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lesson_progress`
--

LOCK TABLES `lesson_progress` WRITE;
/*!40000 ALTER TABLE `lesson_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `lesson_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_preferences`
--

DROP TABLE IF EXISTS `notification_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notification_preferences` (
  `id` char(36) NOT NULL,
  `user_id` char(36) NOT NULL,
  `course_announcements` tinyint(1) NOT NULL DEFAULT 1,
  `prize_draw_promotions` tinyint(1) NOT NULL DEFAULT 1,
  `admin_broadcasts` tinyint(1) NOT NULL DEFAULT 1,
  `unsubscribed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_notification_preferences_user` (`user_id`),
  CONSTRAINT `notification_preferences_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_preferences`
--

LOCK TABLES `notification_preferences` WRITE;
/*!40000 ALTER TABLE `notification_preferences` DISABLE KEYS */;
INSERT INTO `notification_preferences` VALUES ('a2e7af5d-35a1-4944-aa0c-ea2db8de5284','a2e7ac89-aa8f-4994-9aff-25501bcd9679',1,1,1,NULL,'2026-10-04 22:20:33','2026-10-04 22:20:33');
/*!40000 ALTER TABLE `notification_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` char(36) NOT NULL,
  `type` varchar(255) NOT NULL,
  `notifiable_type` varchar(255) NOT NULL,
  `notifiable_id` char(36) NOT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`data`)),
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_notifications_notifiable` (`notifiable_type`,`notifiable_id`),
  KEY `idx_notifications_unread` (`notifiable_type`,`notifiable_id`,`read_at`),
  KEY `idx_notifications_prune` (`read_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `order_id` char(36) NOT NULL,
  `course_id` char(36) NOT NULL,
  `course_part_id` char(36) DEFAULT NULL,
  `item_type` enum('bundle','part') NOT NULL,
  `price_cents` bigint(20) unsigned NOT NULL,
  `promotional_tickets_granted` int(10) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_order_items_order` (`order_id`),
  KEY `idx_order_items_course` (`course_id`),
  KEY `order_items_course_part_id_foreign` (`course_part_id`),
  CONSTRAINT `idx_order_items_course` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`),
  CONSTRAINT `idx_order_items_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `order_items_course_part_id_foreign` FOREIGN KEY (`course_part_id`) REFERENCES `course_parts` (`id`),
  CONSTRAINT `chk_order_items_price_non_negative` CHECK (`price_cents` >= 0),
  CONSTRAINT `chk_order_items_tickets_non_negative` CHECK (`promotional_tickets_granted` >= 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `id` char(36) NOT NULL,
  `order_number` varchar(32) NOT NULL,
  `user_id` char(36) NOT NULL,
  `total_amount_cents` bigint(20) unsigned NOT NULL,
  `currency` char(3) NOT NULL DEFAULT 'USD',
  `exchange_rate` decimal(10,4) NOT NULL DEFAULT 1.3100,
  `paid_amount_gateway` bigint(20) unsigned NOT NULL,
  `display_price_label` varchar(50) NOT NULL,
  `promotional_tickets_granted` int(10) unsigned NOT NULL DEFAULT 1,
  `status` enum('pending','completed','failed','refunded') NOT NULL DEFAULT 'pending',
  `recovery_notification_sent_at` timestamp NULL DEFAULT NULL,
  `tickets_status` enum('pending','completed') NOT NULL DEFAULT 'pending',
  `tickets_minted_at` timestamp NULL DEFAULT NULL,
  `idempotency_key` varchar(64) NOT NULL,
  `legal_terms_agreed` tinyint(1) NOT NULL,
  `terms_agreed_ip` varchar(45) NOT NULL,
  `terms_agreed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `quiz_answers` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`quiz_answers`)),
  `quiz_completed_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_orders_number` (`order_number`),
  UNIQUE KEY `uq_orders_idempotency` (`idempotency_key`),
  KEY `idx_orders_status_expires` (`status`,`expires_at`),
  KEY `idx_orders_user_status` (`user_id`,`status`),
  CONSTRAINT `idx_orders_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `chk_orders_total_non_negative` CHECK (`total_amount_cents` >= 0),
  CONSTRAINT `chk_orders_paid_non_negative` CHECK (`paid_amount_gateway` >= 0),
  CONSTRAINT `chk_orders_tickets_non_negative` CHECK (`promotional_tickets_granted` >= 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_transactions`
--

DROP TABLE IF EXISTS `payment_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_transactions` (
  `id` char(36) NOT NULL,
  `order_id` char(36) NOT NULL,
  `gateway` varchar(32) NOT NULL,
  `gateway_transaction_id` varchar(128) DEFAULT NULL,
  `amount_iqd` bigint(20) unsigned NOT NULL,
  `currency` varchar(3) NOT NULL DEFAULT 'IQD',
  `status` varchar(32) NOT NULL DEFAULT 'initiated',
  `checkout_url` text DEFAULT NULL,
  `gateway_response` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`gateway_response`)),
  `attempt_number` smallint(5) unsigned NOT NULL DEFAULT 1,
  `expires_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `paid_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_payment_txns_gateway_txn` (`gateway`,`gateway_transaction_id`),
  KEY `idx_payment_txns_order_status` (`order_id`,`status`),
  KEY `idx_payment_txns_status_created` (`status`,`created_at`),
  CONSTRAINT `payment_transactions_order_id_foreign` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_payment_txns_amount_positive` CHECK (`amount_iqd` > 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_transactions`
--

LOCK TABLES `payment_transactions` WRITE;
/*!40000 ALTER TABLE `payment_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_webhooks`
--

DROP TABLE IF EXISTS `payment_webhooks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_webhooks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `gateway` varchar(32) NOT NULL,
  `event_type` varchar(64) DEFAULT NULL,
  `idempotency_key` varchar(128) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `headers` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`headers`)),
  `signature_verified` tinyint(1) NOT NULL DEFAULT 0,
  `processed` tinyint(1) NOT NULL DEFAULT 0,
  `error_message` text DEFAULT NULL,
  `ip_hash` varchar(64) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `payment_webhooks_idempotency_key_unique` (`idempotency_key`),
  KEY `idx_payment_webhooks_gateway_processed` (`gateway`,`processed`),
  KEY `idx_payment_webhooks_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_webhooks`
--

LOCK TABLES `payment_webhooks` WRITE;
/*!40000 ALTER TABLE `payment_webhooks` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_webhooks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` char(36) NOT NULL,
  `name` text NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `platform_settings`
--

DROP TABLE IF EXISTS `platform_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `platform_settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `key` varchar(64) NOT NULL,
  `value` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`value`)),
  `description` text DEFAULT NULL,
  `updated_by_user_id` char(36) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `platform_settings_key_unique` (`key`),
  KEY `platform_settings_updated_by_user_id_foreign` (`updated_by_user_id`),
  CONSTRAINT `platform_settings_updated_by_user_id_foreign` FOREIGN KEY (`updated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `platform_settings`
--

LOCK TABLES `platform_settings` WRITE;
/*!40000 ALTER TABLE `platform_settings` DISABLE KEYS */;
INSERT INTO `platform_settings` VALUES (1,'admin.bootstrap_singleton','{\"bootstrapped_user_id\":\"a2e7b168-f698-4c8a-9da3-608bb364b0c8\",\"bootstrapped_at\":\"2026-10-05T01:20:29+00:00\"}','Initial administrator bootstrap lock','a2e7b168-f698-4c8a-9da3-608bb364b0c8','2026-10-04 23:20:29','2026-10-04 23:20:29');
/*!40000 ALTER TABLE `platform_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prizes`
--

DROP TABLE IF EXISTS `prizes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prizes` (
  `id` char(36) NOT NULL,
  `draw_id` char(36) NOT NULL,
  `title_ar` varchar(150) NOT NULL,
  `title_en` varchar(150) NOT NULL,
  `description_ar` text DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `category` enum('cash','merchandise') NOT NULL,
  `valuation_usd_cents` bigint(20) unsigned NOT NULL,
  `display_iqd_label` varchar(50) NOT NULL,
  `image_url` varchar(500) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_prizes_draw` (`draw_id`),
  CONSTRAINT `idx_prizes_draw` FOREIGN KEY (`draw_id`) REFERENCES `draws` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prizes`
--

LOCK TABLES `prizes` WRITE;
/*!40000 ALTER TABLE `prizes` DISABLE KEYS */;
/*!40000 ALTER TABLE `prizes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promotional_awards`
--

DROP TABLE IF EXISTS `promotional_awards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `promotional_awards` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `recipient_user_id` char(36) NOT NULL,
  `draw_id` char(36) DEFAULT NULL,
  `award_title` varchar(150) NOT NULL,
  `award_details` text DEFAULT NULL,
  `valuation_usd_cents` bigint(20) unsigned DEFAULT NULL,
  `reason` varchar(500) NOT NULL,
  `awarded_by_admin_id` char(36) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `promotional_awards_awarded_by_admin_id_foreign` (`awarded_by_admin_id`),
  KEY `idx_promo_awards_recipient` (`recipient_user_id`,`created_at`),
  KEY `idx_promo_awards_draw` (`draw_id`),
  CONSTRAINT `promotional_awards_awarded_by_admin_id_foreign` FOREIGN KEY (`awarded_by_admin_id`) REFERENCES `users` (`id`),
  CONSTRAINT `promotional_awards_draw_id_foreign` FOREIGN KEY (`draw_id`) REFERENCES `draws` (`id`),
  CONSTRAINT `promotional_awards_recipient_user_id_foreign` FOREIGN KEY (`recipient_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `chk_promo_awards_valuation_non_negative` CHECK (`valuation_usd_cents` is null or `valuation_usd_cents` >= 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promotional_awards`
--

LOCK TABLES `promotional_awards` WRITE;
/*!40000 ALTER TABLE `promotional_awards` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotional_awards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referral_attributions`
--

DROP TABLE IF EXISTS `referral_attributions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `referral_attributions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `order_id` char(36) NOT NULL,
  `referrer_user_id` char(36) NOT NULL,
  `buyer_user_id` char(36) DEFAULT NULL,
  `referral_code` varchar(32) NOT NULL,
  `campaign_tag` varchar(64) DEFAULT NULL,
  `commission_rate_bps` int(10) unsigned NOT NULL DEFAULT 2500,
  `attribution_type` varchar(32) NOT NULL DEFAULT 'cookie',
  `ip_hash` char(64) DEFAULT NULL,
  `user_agent_hash` char(64) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `referral_attributions_order_id_unique` (`order_id`),
  KEY `idx_ref_attr_referrer_date` (`referrer_user_id`,`created_at`),
  KEY `idx_ref_attr_code_campaign` (`referral_code`,`campaign_tag`),
  KEY `idx_ref_attr_buyer` (`buyer_user_id`),
  CONSTRAINT `referral_attributions_buyer_user_id_foreign` FOREIGN KEY (`buyer_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `referral_attributions_order_id_foreign` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`),
  CONSTRAINT `referral_attributions_referrer_user_id_foreign` FOREIGN KEY (`referrer_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `chk_ref_attr_anti_self_referral` CHECK (`referrer_user_id` <> `buyer_user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referral_attributions`
--

LOCK TABLES `referral_attributions` WRITE;
/*!40000 ALTER TABLE `referral_attributions` DISABLE KEYS */;
/*!40000 ALTER TABLE `referral_attributions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` char(36) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket_sequences`
--

DROP TABLE IF EXISTS `ticket_sequences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ticket_sequences` (
  `year` int(11) NOT NULL,
  `current_sequence` bigint(20) unsigned NOT NULL DEFAULT 0,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`year`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket_sequences`
--

LOCK TABLES `ticket_sequences` WRITE;
/*!40000 ALTER TABLE `ticket_sequences` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tickets` (
  `id` char(36) NOT NULL,
  `user_id` char(36) NOT NULL,
  `order_id` char(36) NOT NULL,
  `order_item_id` bigint(20) unsigned DEFAULT NULL,
  `order_ticket_index` tinyint(3) unsigned NOT NULL,
  `serial_number` varchar(24) NOT NULL,
  `issued_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tickets_serial_number` (`serial_number`),
  UNIQUE KEY `uq_order_ticket_index` (`order_id`,`order_ticket_index`),
  KEY `tickets_order_item_id_foreign` (`order_item_id`),
  KEY `idx_tickets_user_issued` (`user_id`,`issued_at`),
  KEY `idx_tickets_order` (`order_id`),
  CONSTRAINT `tickets_order_id_foreign` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`),
  CONSTRAINT `tickets_order_item_id_foreign` FOREIGN KEY (`order_item_id`) REFERENCES `order_items` (`id`) ON DELETE SET NULL,
  CONSTRAINT `tickets_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets`
--

LOCK TABLES `tickets` WRITE;
/*!40000 ALTER TABLE `tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` char(36) NOT NULL,
  `email` varchar(255) NOT NULL,
  `learner_code` varchar(16) NOT NULL,
  `display_name` varchar(100) DEFAULT NULL,
  `auth_provider` enum('guest','google') NOT NULL DEFAULT 'guest',
  `provider_id` varchar(255) DEFAULT NULL,
  `avatar_url` varchar(500) DEFAULT NULL,
  `status` enum('active','deactivated') NOT NULL DEFAULT 'active',
  `merged_into_user_id` char(36) DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_users_learner_code` (`learner_code`),
  UNIQUE KEY `uq_users_provider` (`auth_provider`,`provider_id`),
  KEY `users_merged_into_user_id_foreign` (`merged_into_user_id`),
  KEY `idx_users_email` (`email`),
  CONSTRAINT `users_merged_into_user_id_foreign` FOREIGN KEY (`merged_into_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES ('a2e7ac89-aa8f-4994-9aff-25501bcd9679','mock_student@example.com','LRN-CTMXK9','mock_student','google','email_otp_40cac7ddd3e5d12db7d3ede7e1ed0a64',NULL,'active',NULL,'2026-10-04 22:12:38','2026-10-04 22:12:38','2026-10-04 22:12:38'),('a2e7b168-f698-4c8a-9da3-608bb364b0c8','admin@knzin.com','LRN-SDVV13','admin','google','email_otp_3516d8e34a6b1d70800b5f4c5ccdfafd',NULL,'active',NULL,'2026-10-04 22:26:15','2026-10-04 22:26:15','2026-10-04 22:26:15');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-06 10:17:55
